<h2>Lista klientów</h2>
<table>
    <thead>
    <tr>
        <th>
            Email
        </th>
        <th>
            Imię
        </th>
        <th>
            Data następnego kontaktu
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each clients}}
<tr>
    <th>
        {{this.mail}}
    </th>
    <td>
        {{this.name}}
    </td>
    <td>
{{this.nextContactAt}}
    </td>
</tr>
    {{/each}}
    </tbody>
</table>