* {
    margin: 0;
    padding: 0;
}
tr {
    margin: 2px;
    background-color: rgba(210, 210, 210, 0.5);
}
table {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

tr:nth-child(2n) {
    background-color: rgba(218, 218, 218, 0.83)
}
thead tr, .header-of-left th {
    background-color: rgba(176, 176, 176, 0.84);
}
th, td, h2 {
    padding: 10px;
}
button {
    cursor: pointer;
}