* {
    margin: 0;
    padding: 0;
}
tr {
    margin: 2px;
    background-color: #d2d2d2;
}
table {
    text-align: left;
}
thead tr {
    background-color: rgba(176, 176, 176, 0.84);
}
thead tr:nth-child(2n) {
    background-color: rgba(218, 218, 218, 0.35)
}

th, td {
    padding: 6px;
}
